<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <div class='container-fluid'>
    <h2>Latest Mars News:</h2>
    <h3>Headline: {{ planet.news_article}}</h3>
    <h4> {{ planet.news_p}} </h4
    </div>


    <div class='container-fluid'>

    <h1>Weather on Mars:</h1

    <h2> {{ weather.mars_weather}}</h2

    <div class='container-fluid'>


    <h1> Mars Featured Image:</h1>

    <img src="{{ galaxy.featured_image_url }}" alt="Mars Featured Image">
  </div>
</div>


  <div class="container-fluid">
      <h1>Mars Fact Table:</h1>
     <table> {{table.mars_table|safe}}</table> 
  </div>


</body>

</html>
