<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <div class='container-fluid'>
    <h2>Latest Mars News:</h2>
    <h3>Headline: {{ planet.news_article}}</h3>
    <h4> {{ planet.news_p}} </h4
    </div>


    <div class='container-fluid'>

    <h1>Weather on Mars:</h1

    <h2> {{ weather.mars_weather}}</h2

    <div class='container-fluid'>


    <h1> Mars Featured Image:</h1>

    <img src="{{ galaxy.featured_image_url }}" alt="Mars Featured Image">
  </div>
</div>


  <div class="container-fluid">
      <h1>Mars Fact Table:</h1>
      <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>value</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Diameter:</th>
              <td>6,779 km</td>
            </tr>
            <tr>
              <th>Mass:</th>
              <td>6.39 × 10^23 kg</td>
            </tr>
            <tr>
              <th>Moons:</th>
              <td>2</td>
            </tr>
            <tr>
              <th>Distance from Sun:</th>
              <td>227,943,824 km</td>
            </tr>
            <tr>
              <th>Length of Year:</th>
              <td>687 Earth days</td>
            </tr>
            <tr>
              <th>Temperature:</th>
              <td>-153 to 20 °C</td>
            </tr>
          </tbody>
        </table>
      </div>


</body>

</html>
